<script src="../../../static/pagination.js" defer></script>

<!-- CDN de Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" href="../../../static/css/utils.css"></link>

{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <h1> {{ form_title }} </h1>
    <ul>
    {% for data in to_change_data %}
      <li>{{ data.title }}</li>
    {% endfor %}

    <input type="text"  hidden value="{{ reviews_id }}"/>
    </ul>

    <h1>Choisissez quel élément sera associé à ces modèles</h1>
    <input id="search-bar-input" type="text" placeholder="Nom de la ressource">
    <table id="selected-parent" class="change-parent-table">
      {% for parent in parents %}
        <tr class="list-value">
          <td>{{parent.title}}</td>
          <td><input type="radio" name="selected-parent" value="{{parent.id}}" id="{{parent.id}}"/></td>
        </tr>
      {% endfor %}
    </table>
    <!-- Conteneur de pagination, ici on l'ajoute sous la table -->
  	{% include 'admin/apptestforadminpanel/paginationTemplate.html' %}

    <br>
    <input type="submit" value="Valider le changement d'association">
</form>

<script>
  $(document).ready(function(){ // Attend que le DOM soit prêt pour charger le contenu
    console.log("Hi");
    paginatorHandler('element-per-page', "pagination-btn", "filtered-element", "pagination-container", "list-value");
  });
</script>
{% endblock %}
