
<!-- Cette page est basé sur la page utilisé par le list filter -->

<script src="../../../static/pagination.js" defer></script>

<!-- CDN de Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<link rel="stylesheet" href="../../../static/css/utils.css"></link>


{% load i18n %}
<link rel="stylesheet" type="text/css" href="../../../static/css/utils.css">

<details data-filter-title="{{ title }}" open>
  <summary>
    {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
  </summary>
  <input id="search-bar-input" type="text" placeholder="Nom de la ressource">
  <div id="listfilter-container">
    <table>
      <!-- Modification de la <ul> en <table> pour mieux utiliser Jquery-->
      {% for choice in choices %}
        <tr {% if choice.selected %} class="selected"{% endif %}>
        <td class="list-value"> <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></td></tr>
      {% endfor %}
      </table>
  </div>

  <!-- Conteneur de pagination, ici on l'ajoute sous la table -->
	{% include 'admin/apptestforadminpanel/paginationTemplate.html' %}

</details>

<!-- function simpleTemplating(data) {
  var html = '<table>';
  $.each(data, function(index, elt) {
    html += `<tr>${elt}</tr>`;
  });
  html += "</table>";
  return html;
} -->

<script>
  $(document).ready(function(){ // Attend que le DOM soit prêt pour charger le contenu
  

    paginatorHandler('element-per-page', "pagination-btn", "filtered-element", "pagination-container", "list-value")
  });
</script>