


.btn-list-filter-pagination-nav {
	list-style-type: none;
	width: 50px!important;
	height: 50px;
	background-color: aliceblue;
}

.out-of-pagination {
	display: none !important;
	margin: 200px;
	background-color: rgb(1, 18, 255) !important;
}

#eeeee {
	font-size: 200px;
	color: red;
}
